@model TreeStore.Models.Entities.Contact
@{     
ViewData["Title"] = "İletişim";
}

<!-- Site header -->
<header class="page-header bg-img size-lg">
    <div class="container">
        <h1 class="text-center">İletişim</h1>
        <p class="lead text-center">İstek ve şikayetleriniz için bizimle iletişime geçin.</p>
    </div>
</header>
<!-- END Site header -->
<!-- Main container -->
<main>

    <section>
        <div class="container">

            <div class="row">
                <div class="col-sm-12 col-md-8">
                    <h4>İletişim Formu</h4>
                    @if (!String.IsNullOrEmpty(ViewBag.Message))
                    {
                        <div class="alert alert-success">@ViewBag.Message</div>
                    }
                    <form asp-controller="Home" asp-action="Contact">
                        <div class="form-group">
                            <input type="text" class="form-control input-lg" placeholder="Ad" name="FullName">
                        </div>
                        <div class="form-group">
                            <input type="tel" class="form-control input-lg" placeholder="Telefon" name="Phone">
                        </div>

                        <div class="form-group">
                            <input type="email" class="form-control input-lg" placeholder="Email" name="Email">
                        </div>

                        <div class="form-group">
                            <textarea class="form-control" rows="5" placeholder="Mesajınızı Girin" name="Message"></textarea>
                        </div>
                        <button type="submit" class="btn btn-primary">Gönder</button>

                    </form>
                </div>

                <div class="col-sm-12 col-md-4">
                    <h4>İletişim Bilgilerimiz</h4>
                    <div class="highlighted-block">
                        <dl class="icon-holder">
                            <dt><i class="fa fa-map-marker"></i></dt>
                            <dd>@ViewBag.Address</dd>

                            <dt><i class="fa fa-phone"></i></dt>
                            <dd>@ViewBag.Phone</dd>

                            <dt><i class="fa fa-fax"></i></dt>
                            <dd>@ViewBag.Fax</dd>

                            <dt><i class="fa fa-envelope"></i></dt>
                            <dd>@ViewBag.Mail</dd>
                        </dl>
                    </div>
                </div>
            </div>
        </div>
    </section>


</main>
<!-- END Main container -->